.container {
  top: 0;
  z-index: 200;
  display: flex;
  position: fixed;
  min-height: 68px;
  align-items: center;
  width: 100% !important;
  background-color: var(--navBarBgColor);
  border-bottom: 1px solid var(--navBarBorderColor);
}

.header {
  width: 100%;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 1;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  color: var(--logoColor);
}

.searchBar {
  flex: 1;
  display: none;
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav ul {
  gap: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--navBarListItemColor);
}

.write {
  display: none;
}

.linksIcon {
  font-size: 18px;
  cursor: pointer;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-self: center;
}

@media (min-width: 576px) {
  .header {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 20px;
  }
  .searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .write {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchIcon {
    display: none;
    color: inherit;
  }
  .nav ul {
    gap: 23px;
  }
}

@media (min-width: 992px) {
  .logo {
    font-size: 24px;
  }
  .nav ul {
    gap: 25px;
  }
}

@media (min-width: 1200px) {
  .container {
    min-height: 75px;
    max-width: 100vw;
  }
}
