.container {
  margin: auto;
  display: flex;
  max-width: 720px;
  margin-top: 24px;
  padding-top: 5rem;
  flex-direction: column;
}

.wrapper {
  display: flex;
  margin: 0 0 0px 0;
  flex-direction: column;
}

.input {
  border: 0;
  height: 2rem;
  outline: none;
  font-size: 26px;
  padding: 0.5rem 0;
  background-color: inherit;
  color: var(--searchBarColor);
  border-bottom: 1px solid var(--navBarBorderColor);
}

.split {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: space-between;
}

.spanIcon {
  font-size: 14px;
  cursor: pointer;
  color: var(--slugPostData);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
