.profile img {
  width: 32px;
  height: 32px;
  display: flex;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  align-items: center;
}

.settingsMenu {
  top: 63px;
  right: 10px;
  width: 264px;
  position: absolute;
  border-radius: 6px;
  height: calc(90vh - 63px);
  transition: all 0.3s ease;
  background-color: var(--settingsMenuBg);
  border: 1px solid var(--settingsMenuBorder);
}

.settingsMenu::before {
  top: -6px;
  z-index: -1;
  content: "";
  right: 14px;
  width: 12px;
  height: 12px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: var(--settingsMenuBefore);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .settingsMenu::before {
    right: 38px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .settingsMenu {
    top: 69px;
    height: calc(90vh - 69px);
  }
}
