.container {
  flex: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 720px;
  margin-top: 24px;
  padding-top: 5rem;
  position: relative;
}

.postDetails {
  gap: 20px;
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  letter-spacing: 0;
}

.categories {
  display: flex;
  align-items: center;
}

.categories ul {
  gap: 5px;
  display: flex;
  list-style: none;
  align-items: center;
}

.categories a {
  padding: 2px 8px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--postCategory);
  background-color: var(--postCategoryBg);
}

.postDate {
  display: flex;
  font-weight: 800;
  line-height: 17px;
  align-items: center;
  color: var(--featuredAuthorName);
}

.authorName {
  display: flex;
  font-weight: 800;
  line-height: 17px;
  align-items: center;
  color: var(--featuredAuthorName);
}

.postTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
  word-break: break-word;
  color: var(--postHeader);
}

.socialContainer {
  display: flex;
  margin: 25px 0;
  padding: 10px 8px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--postBorder);
  border-bottom: 1px solid var(--postBorder);
}

.postData {
  gap: 20px;
  display: flex;
  align-items: center;
  color: var(--slugPostData);
}

.postNumbers {
  cursor: pointer;
  font-size: 12px;
}

.imageContainer {
  display: flex;
  max-height: 454px;
  margin-bottom: 30px;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  height: inherit;
  border-radius: 10px;
  aspect-ratio: auto 780 / 454;
}

.image {
  max-width: 100%;
  object-fit: cover;
}

.postDesc {
  margin: 0;
  font-size: 16px;
  color: var(--singlePostDesc);
}

.postDesc p {
  padding: 0 0 20px;
}

.postDesc img {
  margin: 20px 0;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .postTitle {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
