.comment {
  display: flex;
  position: relative;
  padding: 15px 0 8px 0;
  flex-direction: column;
  border-bottom: 1px solid var(--postBorder);
}

.comment:first-child {
  padding-top: 0px;
}

.comment.hasReplies {
  border-radius: 0 0 0px 10px;
  border-bottom: 1px solid var(--postBorder);
}

.comment.hasReplies::before {
  top: 32px;
  left: 0px;
  width: 10px;
  content: "";
  position: absolute;
  border-radius: 0 0 0px 10px;
  min-height: calc(100% - 32px);
  border-left: 1px solid var(--postBorder);
}

.comment.hasReplies:last-child,
.comment.hasReplies .comment:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.userDetails {
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.userAvatar img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 16px;
  font-weight: 800;
  color: var(--featuredAuthorName);
}

.date {
  font-size: 14px;
  font-weight: 400;
  color: var(--featuredModifiedDate);
}

.desc {
  font-size: 16px;
  margin: 8px 0 8px 40px;
  color: var(--singlePostDesc);
}

.dataContainer {
  display: flex;
  margin-left: 40px;
  align-items: center;
  color: var(--slugPostData);
  justify-content: space-between;
}

.commentData {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentNumbers {
  cursor: pointer;
  font-size: 12px;
}

.reply {
  cursor: pointer;
  font-size: 13px;
}

.replyTextArea {
  margin-top: 8px;
}

.repliesContainer {
  padding-top: 15px;
  margin: 8px 0 0 40px;
  border-top: 1px solid var(--postBorder);
}
