.container {
  flex: 2;
  display: none;
}

@media (min-width: 576px) {
  .container {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .container {
    display: flex;
  }
}

@media (min-width: 1200px) {
}
