.container {
  flex: 2;
  display: none;
}

@media (min-width: 576px) {
  .container {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .container {
    top: 95px;
    padding: 0;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    overflow-y: auto;
    flex-direction: column;
    height: calc(90vh - 75px);
    background-color: #f0f0f0;
  }
}

@media (min-width: 1200px) {
}
