.container {
  flex: 2;
  display: none;
}

.content {
  height: 80vh;
  overflow: hidden;
  border-bottom: 1px solid var(--postBorder);
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--featuredPostHeader);
}

.sticky {
  top: 90px;
  position: -webkit-sticky;
  position: sticky;
  height: calc(90vh - 75px);
}

@media (min-width: 576px) {
  .container {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .container {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
}
