:root {
  --displayFlex: flex;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* Body background color */
  --bodyBgColor-dark: #020617;
  --bodyBgColor-light: #ffffff;
  --bodyBgColor: var(--bodyBgColor-light);
  /* Navbar background color */
  --navBarBgColor-dark: #010409;
  --navBarBgColor-light: #ffffff;
  --navBarBgColor: var(--navBarBgColor-light);
  /* Navbar border color */
  --navBarBorderColor-dark: #374151;
  --navBarBorderColor-light: #e5e7eb;
  --navBarBorderColor: var(--navBarBorderColor-light);
  /* Navbar link color */
  --navBarListItemColor-dark: #e6edf3;
  --navBarListItemColor-light: #242424;
  --navBarListItemColor: var(--navBarListItemColor-light);
}

[data-theme="dark"] {
  --bodyBgColor: var(--bodyBgColor-dark);
  --navBarBgColor: var(--navBarBgColor-dark);
  --navBarBorderColor: var(--navBarBorderColor-dark);
  --navBarListItemColor: var(--navBarListItemColor-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-sans);
  background: var(--bodyBgColor);
}

a {
  color: inherit;
  text-decoration: none;
}
