:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* Body background color */
  --bodyBgColor-dark: #020617;
  --bodyBgColor-light: #ffffff;
  --bodyBgColor: var(--bodyBgColor-light);
  /* Navbar background color */
  --navBarBgColor-dark: #0f172a;
  --navBarBgColor-light: #ffffff;
  --navBarBgColor: var(--navBarBgColor-light);
  /* Navbar border color */
  --navBarBorderColor-dark: #374151;
  --navBarBorderColor-light: #e5e7eb;
  --navBarBorderColor: var(--navBarBorderColor-light);
  /* Navbar link color */
  --navBarListItemColor-dark: #e6edf3;
  --navBarListItemColor-light: #242424;
  --navBarListItemColor: var(--navBarListItemColor-light);
  /* Searchbar border color */
  --searchBarBorderColor-dark: #30363d;
  --searchBarBorderColor-light: #e5e7eb;
  --searchBarBorderColor: var(--searchBarBorderColor-light);
  /* Searchbar border focus color */
  --searchBarBorderFocusColor-dark: #374151;
  --searchBarBorderFocusColor-light: #d4d4d4;
  --searchBarBorderFocusColor: var(--searchBarBorderFocusColor-light);
  /* Searchbar color */
  --searchBarColor-dark: #e6edf3;
  --searchBarColor-light: #1f2328;
  --searchBarColor: var(--searchBarColor-light);
  /* Searchbar placeholder */
  --searchBarPlaceholder-dark: #6e7681;
  --searchBarPlaceholder-light: #777;
  --searchBarPlaceholder: var(--searchBarPlaceholder-light);
  /* Searchbar icon */
  --searchBarIcon-dark: #6e7681;
  --searchBarIcon-light: #e5e7eb;
  --searchBarIcon: var(--searchBarIcon-light);
  /* Searchbar icon focus */
  --searchBarIconFocus-dark: #7d8590;
  --searchBarIconFocus-light: #d4d4d4;
  --searchBarIconFocus: var(--searchBarIconFocus-light);
  /* Logo color */
  --logoColor-dark: #e6edf3;
  --logoColor-light: #242424;
  --logoColor: var(--logoColor-light);
  /* Settings menu */
  --settingsMenuBg-dark: #0f172a;
  --settingsMenuBg-light: #ffffff;
  --settingsMenuBg: var(--settingsMenuBg-light);
  /* Settings menu border*/
  --settingsMenuBorder-dark: #30363d;
  --settingsMenuBorder-light: #e5e7eb;
  --settingsMenuBorder: var(--settingsMenuBorder-light);
  /* Settings menu before*/
  --settingsMenuBefore-dark: #30363d;
  --settingsMenuBefore-light: #e5e7eb;
  --settingsMenuBefore: var(--settingsMenuBefore-light);
  /* Featured post header*/
  --featuredPostHeader-dark: #e2e8f0;
  --featuredPostHeader-light: #2f1c6a;
  --featuredPostHeader: var(--featuredPostHeader-light);
  /* Featured post desc*/
  --featuredPostDesc-dark: #d1d5db;
  --featuredPostDesc-light: #727586;
  --featuredPostDesc: var(--featuredPostDesc-light);
  /* Featured author name*/
  --featuredAuthorName-dark: #7d8590;
  --featuredAuthorName-light: #2f1c6a;
  --featuredAuthorName: var(--featuredAuthorName-light);
  /* Featured modified date*/
  --featuredModifiedDate-dark: #4d505c;
  --featuredModifiedDate-light: #999999;
  --featuredModifiedDate: var(--featuredModifiedDate-light);
  /* Post header*/
  --postHeader-dark: #ffffff;
  --postHeader-light: #2f1c6a;
  --postHeader: var(--postHeader-light);
  /* Post desc*/
  --postDesc-dark: #d1d5db;
  --postDesc-light: #999999;
  --postDesc: var(--postDesc-light);
  /* Post cartegory background*/
  --postCategoryBg-dark: #1b1e2e;
  --postCategoryBg-light: #f2f2f2;
  --postCategoryBg: var(--postCategoryBg-light);
  /* Post cartegory text*/
  --postCategory-dark: #7e869a;
  --postCategory-light: #242424;
  --postCategory: var(--postCategory-light);
  /* Post icons*/
  --postIcons-dark: #7e869a;
  --postIcons-light: #b4b4b4;
  --postIcons: var(--postIcons-light);
  /* post border color */
  --postBorder-dark: #202021;
  --postBorder-light: #f2f2f2;
  --postBorder: var(--postBorder-light);
  /* sidebar footer */
  --sideBarFooter-dark: #7e869a;
  --sideBarFooter-light: #6b6b6b;
  --sideBarFooter: var(--sideBarFooter-light);
  /* sidebar title */
  --sideBarTitle-dark: #e2e8f0;
  --sideBarTitle-light: #2f1c6a;
  --sideBarTitle: var(--sideBarTitle-light);
}

[data-theme="dark"] {
  --bodyBgColor: var(--bodyBgColor-dark);
  --navBarBgColor: var(--navBarBgColor-dark);
  --navBarBorderColor: var(--navBarBorderColor-dark);
  --navBarListItemColor: var(--navBarListItemColor-dark);
  --searchBarBorderColor: var(--searchBarBorderColor-dark);
  --searchBarBorderFocusColor: var(--searchBarBorderFocusColor-dark);
  --searchBarColor: var(--searchBarColor-dark);
  --searchBarPlaceholder: var(--searchBarPlaceholder-dark);
  --searchBarIcon: var(--searchBarIcon-dark);
  --searchBarIconFocus: var(--searchBarIconFocus-dark);
  --logoColor: var(--logoColor-dark);
  --settingsMenuBg: var(--settingsMenuBg-dark);
  --settingsMenuBorder: var(--settingsMenuBorder-dark);
  --settingsMenuBefore: var(--settingsMenuBefore-dark);
  --featuredPostHeader: var(--featuredPostHeader-dark);
  --featuredPostDesc: var(--featuredPostDesc-dark);
  --featuredAuthorName: var(--featuredAuthorName-dark);
  --featuredModifiedDate: var(--featuredModifiedDate-dark);
  --postHeader: var(--postHeader-dark);
  --postDesc: var(--postDesc-dark);
  --postCategoryBg: var(--postCategoryBg-dark);
  --postCategory: var(--postCategory-dark);
  --postIcons: var(--postIcons-dark);
  --postBorder: var(--postBorder-dark);
  --sideBarFooter: var(--sideBarFooter-dark);
  --sideBarTitle: var(--sideBarTitle-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  line-height: 1.5;
  overflow-x: hidden;
  background: var(--bodyBgColor);
  font-family: "Muli", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
