:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* Body background color */
  --bodyBgColor-dark: #020617;
  --bodyBgColor-light: #ffffff;
  --bodyBgColor: var(--bodyBgColor-light);
  /* Navbar background color */
  --navBarBgColor-dark: #0f172a;
  --navBarBgColor-light: #ffffff;
  --navBarBgColor: var(--navBarBgColor-light);
  /* Navbar border color */
  --navBarBorderColor-dark: #374151;
  --navBarBorderColor-light: #e5e7eb;
  --navBarBorderColor: var(--navBarBorderColor-light);
  /* Navbar link color */
  --navBarListItemColor-dark: #e6edf3;
  --navBarListItemColor-light: #242424;
  --navBarListItemColor: var(--navBarListItemColor-light);
  /* Searchbar border color */
  --searchBarBorderColor-dark: #30363d;
  --searchBarBorderColor-light: #e5e7eb;
  --searchBarBorderColor: var(--searchBarBorderColor-light);
  /* Searchbar border focus color */
  --searchBarBorderFocusColor-dark: #374151;
  --searchBarBorderFocusColor-light: #d4d4d4;
  --searchBarBorderFocusColor: var(--searchBarBorderFocusColor-light);
  /* Searchbar color */
  --searchBarColor-dark: #e6edf3;
  --searchBarColor-light: #1f2328;
  --searchBarColor: var(--searchBarColor-light);
  /* Searchbar placeholder */
  --searchBarPlaceholder-dark: #6e7681;
  --searchBarPlaceholder-light: #777;
  --searchBarPlaceholder: var(--searchBarPlaceholder-light);
  /* Searchbar icon */
  --searchBarIcon-dark: #6e7681;
  --searchBarIcon-light: #e5e7eb;
  --searchBarIcon: var(--searchBarIcon-light);
  /* Searchbar icon focus */
  --searchBarIconFocus-dark: #7d8590;
  --searchBarIconFocus-light: #d4d4d4;
  --searchBarIconFocus: var(--searchBarIconFocus-light);
  /* Logo color */
  --logoColor-dark: #e6edf3;
  --logoColor-light: #242424;
  --logoColor: var(--logoColor-light);
  /* Settings menu */
  --settingsMenuBg-dark: #0f172a;
  --settingsMenuBg-light: #ffffff;
  --settingsMenuBg: var(--settingsMenuBg-light);
  /* Settings menu border*/
  --settingsMenuBorder-dark: #30363d;
  --settingsMenuBorder-light: #e5e7eb;
  --settingsMenuBorder: var(--settingsMenuBorder-light);
  /* Settings menu before*/
  --settingsMenuBefore-dark: #30363d;
  --settingsMenuBefore-light: #e5e7eb;
  --settingsMenuBefore: var(--settingsMenuBefore-light);
  /* Featured post header*/
  --featuredPostHeader-dark: #e2e8f0;
  --featuredPostHeader-light: #2f1c6a;
  --featuredPostHeader: var(--featuredPostHeader-light);
  /* Featured post desc*/
  --featuredPostDesc-dark: #d1d5db;
  --featuredPostDesc-light: #727586;
  --featuredPostDesc: var(--featuredPostDesc-light);
  /* Featured author name*/
  --featuredAuthorName-dark: #7d8590;
  --featuredAuthorName-light: #2f1c6a;
  --featuredAuthorName: var(--featuredAuthorName-light);
  /* Featured modified date*/
  --featuredModifiedDate-dark: #4d505c;
  --featuredModifiedDate-light: #999999;
  --featuredModifiedDate: var(--featuredModifiedDate-light);
  /* Post header*/
  --postHeader-dark: #ffffff;
  --postHeader-light: #2f1c6a;
  --postHeader: var(--postHeader-light);
  /* Post desc*/
  --postDesc-dark: #d1d5db;
  --postDesc-light: #999999;
  --postDesc: var(--postDesc-light);
  /* Post cartegory background*/
  --postCategoryBg-dark: #1b1e2e;
  --postCategoryBg-light: #f2f2f2;
  --postCategoryBg: var(--postCategoryBg-light);
  /* Post cartegory text*/
  --postCategory-dark: #7e869a;
  --postCategory-light: #242424;
  --postCategory: var(--postCategory-light);
  /* Post icons*/
  --postIcons-dark: #7e869a;
  --postIcons-light: #b4b4b4;
  --postIcons: var(--postIcons-light);
  /* post border color */
  --postBorder-dark: #202021;
  --postBorder-light: #f2f2f2;
  --postBorder: var(--postBorder-light);
  /* sidebar footer */
  --sideBarFooter-dark: #7e869a;
  --sideBarFooter-light: #6b6b6b;
  --sideBarFooter: var(--sideBarFooter-light);
  /* sidebar title */
  --sideBarTitle-dark: #e2e8f0;
  --sideBarTitle-light: #2f1c6a;
  --sideBarTitle: var(--sideBarTitle-light);
  /* sidebar post title */
  --sideBarPostTitle-dark: #ffffff;
  --sideBarPostTitle-light: #242424;
  --sideBarPostTitle: var(--sideBarPostTitle-light);
  /* sidebar post details */
  --sideBarPostDetails-dark: #7e869a;
  --sideBarPostDetails-light: #6b6b6b;
  --sideBarPostDetails: var(--sideBarPostDetails-light);
  /* feeds tab */
  --feedsTabNavLink-dark: #7e869a;
  --feedsTabNavLink-light: #6b6b6b;
  --feedsTabNavLink: var(--feedsTabNavLink-light);
  /* feeds active tab */
  --feedsActiveTabLink-dark: #4595d0;
  --feedsActiveTabLink-light: #242424;
  --feedsActiveTabLink: var(--feedsActiveTabLink-light);
  /* slug post data*/
  --slugPostData-dark: #7e869a;
  --slugPostData-light: #6b6b6b;
  --slugPostData: var(--slugPostData-light);
  /* single post desc*/
  --singlePostDesc-dark: #d1d5db;
  --singlePostDesc-light: #374151;
  --singlePostDesc: var(--singlePostDesc-light);
  /* author card*/
  --authorCardBg-dark: #010514;
  --authorCardBg-light: #f9f9f9;
  --authorCardBg: var(--authorCardBg-light);
  /* the author*/
  --theAuthor-dark: #cccdd0;
  --theAuthor-light: #2f1c6a;
  --theAuthor: var(--theAuthor-light);
  /* author bio*/
  --authorBio-dark: #999999;
  --authorBio-light: #737373;
  --authorBio: var(--authorBio-light);
  /* auth input*/
  --authInputBorder-dark: #374151;
  --authInputBorder-light: #d6d3d1;
  --authInputBorder: var(--authInputBorder-light);
  /* auth input focus */
  --authInputFocus-dark: #30363d;
  --authInputFocus-light: #1c1917;
  --authInputFocus: var(--authInputFocus-light);
  /* auth form button */
  --authFormBtn-dark: #1b1e2e;
  --authFormBtn-light: #1c1917;
  --authFormBtn: var(--authFormBtn-light);
  /* auth form button color */
  --authFormBtnCol-dark: #c9d1d9;
  --authFormBtnCol-light: #e8e5e3;
  --authFormBtnCol: var(--authFormBtnCol-light);
  /* auth form button hover */
  --authFormBtnhoverBg-dark: #0f172a;
  --authFormBtnhoverBg-light: #f2f0f0;
  --authFormBtnhoverBg: var(--authFormBtnhoverBg-light);
  /* auth form button hover color */
  --authFormBtnhoverCol-dark: #e6edf3;
  --authFormBtnhoverCol-light: #242424;
  --authFormBtnhoverCol: var(--authFormBtnhoverCol-light);
  /* auth line */
  --authLine-dark: #374151;
  --authLine-light: #d6d3d1;
  --authLine: var(--authLine-light);
  /* auth text background */
  --authTextBg-dark: #1b1e2e;
  --authTextBg-light: #fafaf9;
  --authTextBg: var(--authTextBg-light);
  /* auth text color */
  --authText-dark: #7e869a;
  --authText-light: #71717a;
  --authText: var(--authText-light);
  /* social button bg*/
  --socialBtnBg-dark: #374151;
  --socialBtnBg-light: #d6d3d1;
  --socialBtnBg: var(--socialBtnBg-light);
  /* social button color*/
  --socialBtn-dark: #c9d1d9;
  --socialBtn-light: #242424;
  --socialBtn: var(--socialBtn-light);
  /* social button hover bg*/
  --socialBtnHover-dark: #1b1e2e;
  --socialBtnHover-light: #1c1917;
  --socialBtnHover: var(--socialBtnHover-light);
}

[data-theme="dark"] {
  --bodyBgColor: var(--bodyBgColor-dark);
  --navBarBgColor: var(--navBarBgColor-dark);
  --navBarBorderColor: var(--navBarBorderColor-dark);
  --navBarListItemColor: var(--navBarListItemColor-dark);
  --searchBarBorderColor: var(--searchBarBorderColor-dark);
  --searchBarBorderFocusColor: var(--searchBarBorderFocusColor-dark);
  --searchBarColor: var(--searchBarColor-dark);
  --searchBarPlaceholder: var(--searchBarPlaceholder-dark);
  --searchBarIcon: var(--searchBarIcon-dark);
  --searchBarIconFocus: var(--searchBarIconFocus-dark);
  --logoColor: var(--logoColor-dark);
  --settingsMenuBg: var(--settingsMenuBg-dark);
  --settingsMenuBorder: var(--settingsMenuBorder-dark);
  --settingsMenuBefore: var(--settingsMenuBefore-dark);
  --featuredPostHeader: var(--featuredPostHeader-dark);
  --featuredPostDesc: var(--featuredPostDesc-dark);
  --featuredAuthorName: var(--featuredAuthorName-dark);
  --featuredModifiedDate: var(--featuredModifiedDate-dark);
  --postHeader: var(--postHeader-dark);
  --postDesc: var(--postDesc-dark);
  --postCategoryBg: var(--postCategoryBg-dark);
  --postCategory: var(--postCategory-dark);
  --postIcons: var(--postIcons-dark);
  --postBorder: var(--postBorder-dark);
  --sideBarFooter: var(--sideBarFooter-dark);
  --sideBarTitle: var(--sideBarTitle-dark);
  --sideBarPostTitle: var(--sideBarPostTitle-dark);
  --sideBarPostDetails: var(--sideBarPostDetails-dark);
  --feedsTabNavLink: var(--feedsTabNavLink-dark);
  --feedsActiveTabLink: var(--feedsActiveTabLink-dark);
  --slugPostData: var(--slugPostData-dark);
  --singlePostDesc: var(--singlePostDesc-dark);
  --authorCardBg: var(--authorCardBg-dark);
  --theAuthor: var(--theAuthor-dark);
  --authorBio: var(--authorBio-dark);
  --authInputBorder: var(--authInputBorder-dark);
  --authInputFocus: var(--authInputFocus-dark);
  --authFormBtn: var(--authFormBtn-dark);
  --authFormBtnCol: var(--authFormBtnCol-dark);
  --authFormBtnhoverBg: var(--authFormBtnhoverBg-dark);
  --authFormBtnhoverCol: var(--authFormBtnhoverCol-dark);
  --authLine: var(--authLine-dark);
  --authTextBg: var(--authTextBg-dark);
  --authText: var(--authText-dark);
  --socialBtnBg: var(--socialBtnBg-dark);
  --socialBtn: var(--socialBtn-dark);
  --socialBtnHover: var(--socialBtnHover-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  line-height: 1.5;
  overflow-x: hidden;
  background: var(--bodyBgColor);
  font-family: "Muli", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.seeMore {
  margin-top: 8px;
  color: #4595d0;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
}

/* Quill editor */
.ql-toolbar {
  background-color: inherit;
  border: 1px solid var(--navBarBorderColor) !important;
}

.ql-container {
  border: 1px solid var(--navBarBorderColor) !important;
  border-top: none !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
