.container {
  margin: auto;
  display: flex;
  max-width: 500px;
  margin-top: 75px;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 75px);
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textContainer h1 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.025em;
}

.textContainer p {
  margin: 0.5rem 0 0;
  color: #70707a;
}

.formContainer {
  gap: 6px;
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
}

.formContainer .input {
  height: 2rem;
  outline: none;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  background-color: inherit;
  border: 1px solid #d6d3d1;
}

.formContainer .input:focus {
  border: 1px solid #1c1917;
}

/* Common button styles */
.button {
  height: 2rem;
  outline: none;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  animation-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 0.375rem 0.75rem;
}

/* Styles specific to .formContainer .button */
.formContainer .button {
  color: #e8e5e3;
  background-color: #1c1917;
  border: 1px solid #1c1917;
}

.formContainer .button:hover {
  color: #000000;
  background-color: #f2f0f0;
}

.divider {
  width: 100%;
  display: flex;
  margin: 25px 0;
  align-items: center;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #d6d3d1;
}

.text {
  display: flex;
  color: #70707a;
  padding: 0 0.5rem;
  line-height: 1rem;
  font-size: 0.73rem;
  align-items: center;
  text-transform: uppercase;
  background-color: #fafafa;
}

.socialContainer {
  gap: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Styles specific to .socialContainer .button */
.socialContainer .button {
  color: #000000;
  background-color: #fafafa;
  border: 1px solid #d6d3d1;
}

.socialContainer .button:hover {
  color: #e8e5e3;
  background-color: #1c1917;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
