.container {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.noMarginBottom {
  display: flex;
  margin-bottom: 2px;
  flex-direction: column;
}

.textarea {
  outline: 0;
  width: 100%;
  resize: none;
  overflow: auto;
  font-size: 15px;
  min-height: 96px;
  padding: 8px 12px;
  max-height: 300px;
  border-radius: 6px;
  background-color: inherit;
  color: var(--authorBio);
  border: 1px solid var(--navBarBorderColor);
}

.post {
  display: flex;
  padding: 5px 0;
  margin-top: 5px;
  align-items: center;
  justify-content: flex-end;
}

.button {
  outline: 0;
  cursor: pointer;
  padding: 8px 12px;
  width: max-content;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 1px solid var(--navBarBorderColor);
}
